body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 75vh;
    background-color: #010101;
    color: white;
    
}
button {
    border-radius: 50px;
    width: 100px;
    background-color:aqua
   
    
}
#heading {
    color: aqua;
    font-size: 2em;
    text-align: left;
}